/* Default colour of the header*/
.nav-container nav{
	background-color: #313131;
}

.level{
	background-color: #dd3737;
}

/* Sets the default image for the info button*/
.page-info-btn a {
    background-image: url("../../themes/pressbooks-lingua-book/images/info.png");
    background-repeat: no-repeat;
    background-position: 50% 36%;
}