.level{
	background-color: #0000FF;
}


.page-info-btn a {
    background-image: url("../../themes/pressbooks-lingua-book/images/Badges4Languages-C1.png");
    background-repeat: no-repeat;
    background-position: 50% 36%;
}
