/*.level{
	background-color: #00FFFF;
}*/

.page-info-btn a {
    background-image: url("../../themes/pressbooks-lingua-book/images/Badges4Languages-B2.png");
    background-repeat: no-repeat;
    background-position: 50% 36%;
}
